body 		   { font-family: Arial, Helvetica, sans-serif; }
td 			   { font-family: Arial, Helvetica, sans-serif; }
th 			   { font-family: Arial, Helvetica, sans-serif; }

A:link         { color: #000000; text-decoration: none; font-family: Arial, helvetica, sans-serif; font-weight: 600; font-size: 10pt; }
A:active       { color: #000000; text-decoration: none; font-family: Arial, helvetica, sans-serif; font-weight: 600; font-size: 10pt; }
A:visited      { color: #000000; text-decoration: none; font-family: Arial, helvetica, sans-serif; font-weight: 600; font-size: 10pt; }
A:hover        { color: #FF0000; text-decoration: none; font-family: Arial, helvetica, sans-serif; font-weight: 600; font-size: 10pt; }

#sddm
{	margin: 12;
	padding: 2;
	z-index: 30}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	width: 60px;
	background: #B8A36A;
	color: #FFF;
	text-align: center;
	text-decoration: none}

#sddm li a:hover
{	background: #D0C29C}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #6B561D;
	border: 1px solid  #6B561D}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #D0C29C;
		color: #6B561D;
		font: 11px arial}

	#sddm div a:hover
	{	background: #B8A36A;
		color: #FFF}