body 		   { font-family: Arial, Helvetica, sans-serif; }
td 			   { font-family: Arial, Helvetica, sans-serif; }
th 			   { font-family: Arial, Helvetica, sans-serif; }

A:link         { color: #000000; text-decoration: none; font-family: Arial, helvetica, sans-serif; font-weight: 600; font-size: 10pt; }
A:active       { color: #000000; text-decoration: none; font-family: Arial, helvetica, sans-serif; font-weight: 600; font-size: 10pt; }
A:visited      { color: #000000; text-decoration: none; font-family: Arial, helvetica, sans-serif; font-weight: 600; font-size: 10pt; }
A:hover        { color: #FF0000; text-decoration: none; font-family: Arial, helvetica, sans-serif; font-weight: 600; font-size: 10pt; }